.contact a::after {
  content: " (" attr(href) ") ";
}

.container {
  width: auto;
  max-width: 100%;
}

header h1 { font-size: 1.7rem; }

.text-muted a:not(:hover) {
	color: inherit;
}

.projects figure p {
  margin-bottom: 0.3rem;
}

.projects figcaption {
  font-size: 1em;
}

hr { margin: .2rem 0; }

.container svg .muted-path {
  fill: var(--bs-gray);
}
