@import url("https://assets0.github.com/stylesheets/bundle_common.css");
@import url("https://assets0.github.com/stylesheets/bundle_github.css");
.standard_form {
  text-align: left;
  max-width: 50em;
  min-width: 29em;
  border: none;
  background: transparent;
}
#header, #footer {
  min-width: 30em;
  width: inherit;
}

p { padding: 0.8em 1em; }

.logo {
  color: #666;
  font: normal bold 220%/220% "Inconsolata","Lucida Console",monospace;
}
.logo strong { color: black; }
.site { width: inherit; }
.info { word-spacing: 0.26em; }
.company img { vertical-align: text-top; }
.sponsor {
  float: right;
  max-width: 40%;
  margin: 0.4em 0;
}
.project {
  max-width: 44%;
  min-width: 11em;
  float: left;
  margin: 0.5em !important;
}
.title { font: bold normal 108% sans-serif; }
.meta {
  margin-top: 0.3em;
  color: #555;
}
#footer { clear: both; }
