@import url('http://fonts.googleapis.com/css?family=EB+Garamond');
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');

@import url("https://a248.e.akamai.net/assets.github.com/stylesheets/bundles/github-2bf13b82c8e960dcc1e764f6dfcfe2d641db713d.css");
@import url("https://a248.e.akamai.net/assets.github.com/stylesheets/bundles/github2-98c3ef313c69893a7c6710ab40227ad8bc8eb0d3.css");

.standard_form {
  text-align: left;
  max-width: 50em;
  min-width: 29em;
  border: none;
  background: transparent;
  position: relative;
}
#header, #footer {
  width: inherit;
}

p { padding: 0.8em 1em; }

#header .logo {
  color: #666;
  font: normal bold 240%/240% "Open Sans",sans-serif;
  display: inline-block;
  margin-left: 1em;
}
html, body {
    min-width: 100% !important;
}
h2 {
  font: normal bold 120% sans-serif;
}
.logo strong { color: black; }
.site { width: inherit; }
.info { word-spacing: 0.26em; }
.sponsor {
  font-family: 'EB Garamond', serif;
  float: right;
  max-width: 40%;
  margin: 0.5em 0;
}
.project {
  max-width: 44%;
  min-width: 11em;
  float: left;
  margin: 0.5em !important;
}
.title { font: normal bold 108% sans-serif; }
.meta {
  margin-top: 0.3em;
  color: #555;
}
#footer {
    clear: both;
    padding: 1em;
}
#footer .info a {
    display: inline-block;
    line-height: 2.5em;
    height: 6em;
}
img {
    vertical-align: text-top;
}
#footer code a {
    font-family: sans-serif;
}
