@import url("https://assets0.github.com/stylesheets/bundle_common.css");
@import url("https://assets0.github.com/stylesheets/bundle_github.css");
.standard_form {
  text-align: left;
  width: 61%;
  min-width: 20em;
  border: none;
  background: transparent;
}
#header,#footer {
  min-width: 30em;
}

.logo {
  color: #666;
  font: normal bold 220%/100% "Inconsolata","Lucida Console",monospace;
}
.logo strong { color: black; }
.site { width: inherit; }
.info { word-spacing: 0.26em; }
.company img { vertical-align: text-top; }
li.project {
  max-width: 24em;
  float: left;
  margin: 0.5em;
}
#footer { clear: both; }
